@model Employee 

<div class="card" style="width: 18rem;">
    <img src="~/Images/1.JPG" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Employee Data</h5>
        <p class="card-text">@Model.Id</p>
        <p class="card-text">@Model.Nam</p>
        <p class="card-text">@Model.Age</p>
        <p class="card-text">@Model.Address</p>
    </div>
</div>