<h1> TEST Primitve</h1>


<form method="get" asp-controller="Binding" asp-action="TESTPrimnitive">

    <div class=" form-group">
        <label>Age:</label>
        <input type="number" id="age" name="age" class="form-control" />
    </div>

    <div class=" form-group">
        <label>Name:</label>
        <input type="Text" id="name" name="name" class="form-control" />
    </div>

    <div class=" form-group">
        <label>Color:</label>
        <select id="colors" class="form-control" name="color" multiple>

            <option>RED</option>
            <option>Green</option>
            <option>Blue</option>

        </select>

    </div>

    <div class=" form-group">
        <button type="submit" class="btn btn-success">submit</button>
    </div>


</form>